
textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
  font-family: $font;
  font-weight: 400;
}

textarea::-moz-placeholder,
input::-moz-placeholder {
  font-family: $font;
  font-weight: 400;
}

textarea:-moz-placeholder,
input:-moz-placeholder {
  font-family: $font;
  font-weight: 400;
}

textarea:-ms-input-placeholder,
input:-ms-input-placeholder {
  font-family: $font;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  @apply font-bold;
}
