extends ./layouts/master.pug

block title
  title Rise | Главная

block basicSeo
  meta(name='description' content='Index page')
  meta(name='keywords', content='index, page')

block manifestBrowserconfigFiles
  link(href='../manifest.json', rel='manifest')
  meta(name='msapplication-config' content='../browserconfig.xml')

block content

  +header('home')

  .barba(data-barba="wrapper")
    main(data-barba="container" data-barba-namespace="home")
      section
        .wrapper
          h1.font-bold Главная
